html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(33, 33, 33)!important;
}
@font-face { 
    font-family: 'flip-clock'; 
    src: url('font/FLIPclockblack.ttf');
} 

#hour,#minute{
    font-family: flip-clock;
    font-size: 100px;
}

#colon{
    font-size: 200px;
}

.main-container{
    height: inherit;
    padding: 30px;
}

.clock-body{
    width: 50em;
    height: 20em;
    /* border: 1px solid black; */
    color: white;
}

.clock-body .time-content{
    margin: 10px;
}

.time-content{
    background-color: rgb(33, 33, 33)!important;
    border: 4px solid white;
    border-radius: 5px;
}